.container{

    margin: 15px;
    align-content: center;
    background-color: blanchedalmond;
    border-radius: 15px;

}

.card{

    margin: 20px;
    overflow: hidden;
    text-align: center;

}


.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h1, h3{

    line-height: 2px;

}

hr {

    
}
